.background-red{
    background-color: #ff5757;
    color: white;
}

.background-green{
    background-color: #b1ff92;
    color: black;
}

.notification {
    padding: 1em 1em 1em 1em;
    width: 60%;
    min-width: 300px;

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}