.carousel-wrapper {
    overflow: hidden;
    display: inline-flex;
    //margin: 1em;
  }



.carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 6000px;
}
.carousel-inner {
    display: flex;
}


.project-pic {
    padding: 0em;
    height: 400px;
    width: 400px;
    background-size: cover;
    position: absolute;
    object-fit: cover;
}

.loading-pic{
    height: 30%;
    width: 30%;
    display: block;
    margin: auto;
}

.project-card {
    padding: 0em;
    height: 400px;
    width: 400px;
    //height: 10em;
    //width: 10em;
    //max-width: 80%;
    margin: 0 auto;
  }

.carousel-card-title {
    width: 400px;
    //height: 50px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding: 0em 0em 1em 0em;
    //position: absolute;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.project-card:hover {
    
    .project-pic {
        
        //width: 110%;
        //height: 110%;
        //zoom: 105%;
        transform: scale(1.05);

    }
}

li {
    padding: 0;
    margin: 0 auto;
}

.faded {
    background-color: black;
    //background-color: fade-out($color: #000000, $amount: 0.8);
    opacity: 0.2;
}

.controlButton{
    height: 400px;
    //position: absolute;
    width: 20px;
    display: flex;
    font-family: 'Raleway', 'Arial';

}

.step{
    cursor: pointer;
}