<div class="container">
  

  <app-notification [notificationAlert]="alertMessage" [notificationSuccess]="successMessage"></app-notification>

  <div class="color-light login-form">
    <h1 class="form-header">
      Login
    </h1>
    <form [formGroup]="loginForm">
        <div>
            <mat-form-field hintLabel="Required">
                <input matInput placeholder="Username" name="username" class="form-control" formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field hintLabel="Required">
                <input matInput placeholder="Password" name="password" type="password" class="form-control" formControlName="password">
            </mat-form-field>
          </div>
          <div>
              <button mat-raised-button type="submit" (click)="loginUser()" [disabled]="!loginForm.valid">Login</button>
          </div>
    </form>
  </div>
</div>