<div class="container">
  <mat-card class="text-container color-bright-blue">
    <div><h1><strong>Hello!</strong> My name is <strong>Tomi Mannila</strong></h1></div>
    <!--<img src="" title="Me!" class="img-me">-->

    <p class="color-white">
    I have been faschinated by technology and its advancements all my life. For that reason I went to study in Tampere University of technology. 
    I main in <strong>communications engineering</strong> and minor in <strong>software systems</strong>.
    </p>
    <p class="color-white">
    My character is joyful, empathic and humble.
    I enjoy creating: whether it was lasercutting, fiddling with my own little projects or programming.
    Seeing my own handiwork in the working result gives me motivation to get even better.
    </p>
    <p class="color-white">
    Teamworking is something that I think it's very important. In a team you can always get everyone's best features and make a best possible result. 
    By working as a team, you can always learn something from each other. Teamspirit also helps with problematic situations and getting to the team's goals.
    </p>
    <mat-card class="center-text">
      <i>"If you don't know how to do it, learn to do it!"</i>
    </mat-card>
    <div>
      <h1>You can find me in</h1>
      <ul class="link-list">
        <li><a class="link" href="https://github.com/GitMato">GitHub</a></li>
        <li><a class="link" href="https://www.linkedin.com/in/tomi-mannila/">LinkedIn</a></li>
        
        <li><a class="link" href=""></a></li>
        <li><a class="link" href=""></a></li>
        <li><a class="link" href=""></a></li>
      </ul>
      
      <h1>Or</h1>
      <li><a class="link" href="mailto:someone@example.com">Email me</a></li><!-- TODO: edit this-->
    </div>
  </mat-card>
</div>