
<div *ngIf="project" class="container">
  <!-- If logged in-->
  <button mat-raised-button (click)="modifyThisProject()" *ngIf="authService.isLoggedIn" style="margin-right: 2em;" class="btn">Modify project</button>
  <button mat-raised-button (click)="deleteThisProject()" *ngIf="authService.isLoggedIn" style="background-color: salmon;" class="btn">Delete project</button>
  <!-- -->
  <img src={{project.imgUrl}} class="centered" (click)="openDialog(project.imgUrl)">


  <h1>{{project.name}}</h1>

  <p>{{project.details}}</p>


  <h4>Tools:</h4>
  <ul *ngIf="project.tools">
    <li class="" *ngFor="let tool of toolsUsed">
      {{tool.name}}
    </li>
  </ul>


  <div *ngIf="project.extraimg?.length > 0">
    <p>More images of the project:</p>
    <div class="extra-img-container">
      <span class="extra-img" *ngFor="let imageurl of project.extraimg">
        <img [src]="imageurl" class="extra-image" (click)="openDialog(imageurl)">
      </span>
    </div>
  </div>

  <div class="extra-url-container" *ngIf="project.extraUrls?.length > 0">
    <h4>Links:</h4>
    <ul *ngFor="let url of project.extraUrls">
      <li><a href="url" class="extra-url">{{url}}</a></li>
    </ul>
  </div>

</div>