.side-panel {
    display: inline;
    margin: auto;
    
}

.rotImage {
    display: inline;
    height: 100px;
    width: 100px;
    margin: auto;
    padding: 0em 0em 0em 1em;
}

.project-extra-image{

}

.btn{
    margin-right: 0;
    margin-left: auto;
    //TODO
}

.project-extra-url{
    opacity: 0.5;
}

.project-extra-url:hover{
    opacity: 1;
    //color: greenyellow;
}