
<div *ngIf="project">
<!-- If logged in-->
<button mat-raised-button (click)="modifyThisProject()" *ngIf="authService.isLoggedIn">Modify project</button>
<button mat-raised-button (click)="deleteThisProject()" *ngIf="authService.isLoggedIn">Delete project</button>
<!-- -->
<img src={{project.imgUrl}} class="centered">


<h1>{{project.name}}</h1>

<p>{{project.details}}</p>

<p class="h1">
    Tools:
  </p>
<ul *ngIf="project.tools">
  <li class="" *ngFor="let tool of project.tools">
    id: {{tool}}
  </li>
</ul>


<div class="extra-img" *ngIf="project.extraimg">
<p>valinnaiset pienet lisäkuvat</p>
<span *ngFor="let img of project.extraimg">
  <img src="img" alt="" class="">
</span>
</div>

</div>