
<mat-tab-group class="color-light">

  <!-- Add a tool -->

  <mat-tab label="Add a tool">
    <div class="example-small-box mat-elevation-z4 input-field">
      
        <h1>Add a Tool</h1>
        <form [formGroup]="toolForm">
          
          <mat-form-field hintLabel="Required">
            <input matInput placeholder="Tool" class="form-control" formControlName="name">
          </mat-form-field>
          
          <div>
            <button mat-raised-button (click)="addNewTool()">Add the tool</button>
            <!--<button mat-button>Click me!</button>-->
          </div>
        </form>

        <div>
          <p>{{toolMessage}}</p>
          <p>Form value: {{ toolForm.value | json }}</p>
          <p>Form status: {{ toolForm.status | json }}</p>
        </div>

        <mat-list class="toollist">
          <button mat-raised-button (click)="getToolsFromDb()">Refresh</button>
          <h3 mat-subheader>List of all tools</h3>
          <mat-list-item *ngFor="let tool of usableTools">
            <!--<mat-icon mat-list-icon>folder</mat-icon>-->
            <h4 mat-line>{{tool.name}}</h4>
            <p mat-line> id: {{tool.id}} </p>
          </mat-list-item>
        </mat-list>
        
    </div>
  </mat-tab>

  <!-- Add a tool ends -->


  <!--  Add a project -->
  <mat-tab label="Add a project">
    <div class="example-large-box mat-elevation-z4 input-field">
      <h1>Add a Project</h1>
      {{projectMessage}}
      <form [formGroup]="projectForm">

        <p>
          <mat-form-field>

            <input matInput name="name" placeholder="Project's name" formControlName="name">

          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width">
              <input matInput name="ImageUrl" placeholder="Url for the main image" formControlName="imgUrl">
              <!-- TODO: URL Validator tälle-->
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width">
            <input matInput name="ImageAlt" placeholder="Alternative text for main image" formControlName="imgAlt">
          </mat-form-field>
        </p>

        <div>
          
          <mat-form-field>
            <mat-select [(value)]="selectedTool" placeholder="Select new tool used" name="ToolSelection" >
              <mat-option *ngFor="let tool of usableTools" [value]="tool.name">{{tool.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button (click)="addToolToProject()">Add tool to the project</button>
          {{projectAddToolMessage}}

          <div *ngIf="toolsInProject" name="Tools list">
            <mat-list class="toollist">
              <h3 mat-subheader>Tools in project:</h3>
              <mat-list-item *ngFor="let tool of toolsInProject; let index = index;" >
                <!--<mat-icon mat-list-icon>folder</mat-icon>-->
                <h4 mat-line>{{tool.name}}</h4>
                <p mat-line> id: {{tool.id}} </p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <p>
          <mat-form-field class="full-width">

              <textarea matInput #description name="description" maxlength="256" placeholder="A short description" matTextareaAutosize matAutosizeMinRows="3" formControlName="description"></textarea>
              <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width">

              <textarea matInput name="details" #details placeholder="Detailed description" maxlength="512" matTextareaAutosize matAutosizeMinRows="6" formControlName="details"></textarea>
              <mat-hint align="end">{{details.value.length}} / 512</mat-hint>
          </mat-form-field>
        </p>

        <div>
          Possible extra images:
          <input type="checkbox" name="extraImgs" label="extraImgs">
        </div>

        <div>
          <button mat-raised-button (click)="addNewProject()">Add the project</button>
        </div>

      </form>
    </div>
  </mat-tab>

  <!--  Add a project ends-->

</mat-tab-group>
