
<app-notification [notificationAlert]="alertMessage" [notificationSuccess]="successMessage"></app-notification>

<mat-tab-group class="color-light container">

  <!--  Add a project -->
  <mat-tab label="Add / modify a project">
    <div class="example-large-box mat-elevation-z4 input-field">

      <h1 *ngIf="!isModify; else modifyBlock">Add a Project</h1>
      <ng-template #modifyBlock><h1>Modify the project "{{projectToModify?.name}}"</h1></ng-template>

      <form [formGroup]="projectForm">

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Project's name</mat-label>
            <input matInput name="name" formControlName="name">

          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width" appearance="fill">
              <mat-label>Main image URL</mat-label>
              <input matInput type="url" name="ImageUrl" formControlName="imgUrl">
              <!-- TODO: URL Validator tälle-->
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Alternative text for the main image</mat-label>
            <input matInput name="ImageAlt" formControlName="imgAlt">
          </mat-form-field>
        </p>

        <div>
          
          <mat-form-field appearance="fill">
            <mat-label>Select a new tool used</mat-label>
            <mat-select [(value)]="selectedTool" name="ToolSelection" >
              <mat-option *ngFor="let tool of allTools" [value]="tool.name">{{tool.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button (click)="addToolToProject()" class="small-button">Add the tool to the project</button>
          {{projectAddToolMessage}}

          <div *ngIf="toolsInProject" name="Tools list">
            <mat-list class="toollist">
              <h3 mat-subheader *ngIf="toolsInProject.length == 0" class="color-whitesmoke"><strong>No tools in this project.</strong></h3>
              <h3 mat-subheader *ngIf="toolsInProject.length != 0" class="color-whitesmoke"><strong>Tools in project:</strong></h3>
              <mat-list-item *ngFor="let tool of toolsInProject; let index = index;" >
                <!--<mat-icon mat-list-icon>folder</mat-icon>-->
                <h4 mat-line>{{tool.name}}</h4>
                <p mat-line> id: {{tool.id}} </p><button mat-raised-button class="small-button" (click)="removeToolFromProject(tool)">Remove</button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <p>
          <mat-form-field class="full-width" appearance="fill">
              <mat-label>A short description</mat-label>
              <textarea matInput #description name="description" maxlength="256" matTextareaAutosize matAutosizeMinRows="3" formControlName="description"></textarea>
              <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width" appearance="fill">
              <mat-label>Detailed description</mat-label>
              <textarea matInput name="details" #details maxlength="512" matTextareaAutosize matAutosizeMinRows="6" formControlName="details"></textarea>
              <mat-hint align="end">{{details.value.length}} / 512</mat-hint>
          </mat-form-field>
        </p>

        <div>
          <!--Possible extra images:-->
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Url for possible extra image</mat-label>
            <input matInput #extraImgInput type="url" name="extraImgs" label="extraImgs">
            <!-- TODO: URL Validator tälle-->
          </mat-form-field>
          <button mat-raised-button class="small-button" (click)="addExtraImg(extraImgInput.value); extraImgInput.value = '';">Add the extra image</button>
          <mat-list *ngIf="extraImages.length != 0">
            <h4>Extra images</h4>
          
            <mat-list-item *ngFor="let img of extraImages; let index = index;" >
              <!--<mat-icon mat-list-icon>folder</mat-icon>-->

              <h4 mat-line>{{img}}</h4>
              <!--<button mat-raised-button class="small-button" (click)="modifyExtraImg(index)">Modify</button>-->
              <button mat-raised-button class="small-button" (click)="removeExtraImg(index)">Remove image</button>
            </mat-list-item>
          </mat-list>
          <!-- Possible extra images ends -->
        </div>

        <div>
          <!-- Possible extra links -->
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Url for possible extra link</mat-label>
            <input matInput #extraUrlInput type="url" name="extraUrls" label="extraUrls">
            <!-- TODO: URL Validator tälle-->
          </mat-form-field>
          <button mat-raised-button class="small-button" (click)="addExtraUrl(extraUrlInput.value); extraUrlInput.value = ''; ">Add the extra link</button>
          <mat-list *ngIf="extraUrls.length != 0">
            <h4>Extra Urls</h4>
          
            <mat-list-item *ngFor="let url of extraUrls; let index = index;" >
              <!--<mat-icon mat-list-icon>folder</mat-icon>-->

              <h4 mat-line>{{url}}</h4>
              <!--<button mat-raised-button class="small-button" (click)="modifyExtraImg(index)">Modify</button>-->
              <button mat-raised-button class="small-button" (click)="removeExtraUrl(index)">Remove url</button>
            </mat-list-item>
          </mat-list>
        </div>

        <div>
          <button mat-raised-button *ngIf="!isModify; else modifyBlockButton" class="submit-btn" (click)="addNewProject()" [disabled]="!projectForm.valid">Add the project</button>
          <ng-template #modifyBlockButton><button mat-raised-button class="submit-btn" (click)="updateExistingProject()" [disabled]="!projectForm.valid">Update the project</button></ng-template>
        </div>

      </form>
    </div>
  </mat-tab>

  <!--  Add a project ends-->


  <!-- Add a tool -->

  <mat-tab label="Add / modify a tool">
    <div class="example-small-box mat-elevation-z4 input-field">
      
        <h1>Add a Tool</h1>
        <form [formGroup]="toolForm">
          
          <mat-form-field hintLabel="Required" appearance="fill">
            <mat-label>Tool's name</mat-label>
            <input matInput class="form-control" formControlName="name">
          </mat-form-field>
          
          <div>
            <button *ngIf="!toolToModify; else modifyToolButton" class="submit-btn" mat-raised-button (click)="addNewTool()" [disabled]="!toolForm.valid">Add the tool</button>
            <ng-template #modifyToolButton>
              <button mat-raised-button class="submit-btn" (click)="updateExistingTool()" [disabled]="!toolForm.valid">Update the tool</button>
              <button mat-raised-button (click)="resetToolForm()">Reset the form</button>
            
            </ng-template>
            <!--<button mat-button>Click me!</button>-->
          </div>
        </form>

        <!--<div>
          <p>{{toolMessage}}</p>
          <p>Form value: {{ toolForm.value | json }}</p>
          <p>Form status: {{ toolForm.status | json }}</p>
        </div>-->

        <mat-list class="toollist">
          <!--<button mat-raised-button (click)="getToolsFromDb()">Refresh</button>-->
          <h3>List of all tools</h3>
          <mat-list-item *ngFor="let tool of allTools">
            <!--<mat-icon mat-list-icon>folder</mat-icon>-->
            <h4 mat-line>{{tool.name}}</h4>
            <p mat-line> id: {{tool.id}} </p><button mat-raised-button class="small-button" (click)="setToolFormValue(tool)">modify</button>
          </mat-list-item>
        </mat-list>
        
    </div>
  </mat-tab>

  <!-- Add a tool ends -->

</mat-tab-group>
