.mat-tab-body{
    padding: 0em 0em 0em 0;
}

.color-light {
    background: rgb(136, 160, 177);
}

.full-width {
    width: 100%;
}


.input-field {
    padding: 1em 2em 2em 2em;
}

h1{
    text-shadow: 0 2px 2px #003A61;
}

.container{
    max-width: 1000px;
    min-width: 450px;
}

.submit-btn{
    margin-top: 2em;
    background-color: greenyellow;
    margin-right: 2em;
    padding: 0.5em 1em 0.5em 1em;
}

.small-button{
    margin-bottom: 1em;
}