<h4>My Projects</h4>

<div class="projects-container">
  <ul @list>
    <!-- Tästä listasta oikeesti dynaaminen -->
    <li @projectTrigger class="card" *ngFor="let project of projects">
      <!-- dynaaminen projects osoite-->
      
      <a [routerLink]="['/projects', project.id]">
      <!--<a href="projects"  (click)="goToProject()">-->
        <mat-card class="project-card color-light flex">

          <img mat-card-lg-image class="project-pic" [src]="project.imgUrl" [alt]="project.imgAlt">
          <mat-card-header class="project-header">
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title class="h1">{{project.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{project.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </li>
  </ul>
</div> <!-- projects-container ends-->
