/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background:rgb(62, 74, 82);
    padding: 0em;
    color:#fff;
    margin: 0;
}

body, h1 {
    font-family: 'Raleway', 'Arial';
    color:#fff;
}

h1 {
    font-size: 25px;
}


h4 {
    font-size: 1.5em;
    opacity: 0.5;
}

ul {
    list-style-type:none;
    margin:0 0 0em 0;
    padding:0;
}

ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}

.container {
    width: 80%;
    margin: auto;
    //margin: 3em;
}

.section {
    margin: 2em 0em 0em 0em;
}

.centered {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

.mat-card-header-text {
    margin: 0 !important;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    &.active {
        opacity: 1;
    }
    &.finish {
        background-color: #4CAF50;
    }
}

.color-light {
    background: rgb(136, 160, 177);
}
