.container {
    display: grid;
    grid-template-columns: 50% auto;
}

.attention-container {
    display: inline-flex;
    max-width: 1000px;
    margin: auto;

}
.col {
    padding: .4em 1.3em;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#A5F883;
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:#3FA0E1;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}

ul.card {
    display: inline-block;
}

.rotImage {
    display: inline;
    height: 100px;
    width: 100px;
    margin: auto;
    padding: 0em 0em 0em 1em;
}

.home-3d-viewer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 66%;
    height: 100%;
    box-sizing: border-box;
}
.home-3d {
    position: relative;
    height: 420px;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    perspective: 500px;
    box-sizing: border-box;
}

.attention-header {
    width: 100%;
    display: inline-flex;
    position: relative;
    //position: absolute;
    //box-sizing: border-box;
    //float: left;
    //padding: 4% 10% 2% 10%;
    padding: 4% 4% 2% 4%;
    text-shadow: 0 2px 2px #003A61;
    
    border-top: 2em  solid rgba(0,0,0,0.5);
    border-bottom: 2em  solid rgba(0,0,0,0.5);
    //min-width: 750px;
    box-sizing: border-box;
    //overflow: hidden;
    //display: block;
    //margin: 0% 4% 0% 4%;

    .text {
        font-size: 1.5em;
    }
}

.right{
    //margin-left:auto; 
    //margin-right:auto;
    //float: right;
    padding: 0em 0em 0em 1em;
}