<div class="color-bright-blue attention-header">
  
    <!--<div>
      <h1 style="font-size: 3em">Hei!</h1>
      <p class="text">Ohessa on esimerkkejä projekteistani.</p>
      <p class="text">Listauksen kaikista projekteistä löydät Projects -osiosta.</p>
    </div>-->
    <div>
      <h1 style="font-size: 3em">Hello!</h1>
      <p class="text">You can find some of my projects in the carousel.</p>
      <p class="text">The list of all my projects can be found in 'Projects' -section.</p>
    </div>
    <div class="right">
      <app-carousel></app-carousel>
    </div>
  
</div>

